/** Universal **/
html {
  font-size: 16px;
  font-family: "helvetica", sans-serif;
  line-height: 1rem;
}

div, nav {
  border: 1px dotted blue;
}

.flex {
  display: flex;
  align-items: center;
}

h1, h2, h3 {
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  padding-bottom: 1.5rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.25rem;
  padding-bottom: 0.75rem;
  line-height: 1.25rem;
}

p {
  padding-bottom: 0.75rem;
  line-height: 1.25rem;
}

img, video {
  width: 100%;
}

.left-column {
  width: 60%;
  align-items: flex-start;
  padding: 2rem 1.5rem;
}

.right-column {
  width: 40%;
}

/** Header **/
header {
  position: fixed;
  z-index: 1;
  width: 100%;
  flex: 1;
  background-color: #fff;
}

header .flex {
  justify-content: space-between;
  height: 4rem;
}

header .logo {
  height: 2rem;
  padding-left: 1.5rem;
}

header nav {
  padding-right: 1.5rem;
}

header nav li {
  display: inline-block;
  padding-left: 1rem;
}

/** Introduction Banner **/
.intro {
  position: relative;
  padding-top: 4rem;
}

.intro .right-column {
  flex-direction: column;
  align-items: flex-start;
}

.intro .text {
  padding-left: 1rem;
  padding-right: 4rem;
}

.intro .right-column .button {
  background-color: gray;
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 0.75rem;
  padding: 0.5rem 0 0.5rem 0;
}

/** Information Section **/
.info {
  align-items: flex-start;
}

.info .left-column .text {
  padding-top: 2rem;
}

.detail img {
  width: 35%;
  padding: 1rem 0 1rem 1rem;
}

.detail .text {
  width: 65%;
  padding-left: 1rem;
}
/** Course Section **/

/** Thesis Section **/

/** Footer **/
