/** Universal **/
html {
  font-size: 16px;
}

body {
  font-family: "helvetica", sans-serif;
  line-height: 1rem;
  background-color: rgb(255, 255, 255);
}

/** div, nav {
  border: 1px dotted blue;
}
**/

.flex {
  display: flex;
  align-items: center;
}

h1, h2, h3 {
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  padding-bottom: 1.5rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.25rem;
}

h3, p {
  padding-bottom: 0.75rem;
  line-height: 1.25rem;
}

img, video {
  width: 100%;
}

.left-column {
  width: 60%;
  align-items: flex-start;
  padding: 2rem 1.5rem;
}

.right-column {
  width: 40%;
  align-items: flex-start;
  padding-top: 2rem;
}

.text {
  padding: 1rem;
}

.info, .thesis-container {
  align-items: flex-start;
}

/** Header **/
header {
  position: fixed;
  z-index: 1;
  width: 100%;
  flex: 1;
  background-color: #fff;
}

header .flex {
  justify-content: space-between;
  height: 4rem;
  padding-right: 1.5rem;
}

header .logo {
  height: 2rem;
  padding-left: 1.5rem;
}

nav li {
  display: inline-block;
  padding-left: 1rem;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 500px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }
}

/** Introduction Banner **/
.intro {
  position: relative;
  padding-top: 4rem;
  background-color: rgba(111, 111, 111, 0.5);
}

.intro .text {
  padding-right: 4rem;
}

.intro .right-column .button {
  background-color: rgb(127, 127, 127);
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 0.75rem;
  padding: 0.5rem 0 0.5rem 0;
}

/** Information Section **/
.left-column .text {
  padding: 2rem 0 0 0;
}

.info .left-column p {
  padding-bottom: 1.5rem;
}

.detail img {
  width: 35%;
  padding: 1rem 0 1rem 1rem;
}

.detail .text {
  width: 65%;
}

/** Course Section **/
.course-section {
  background-color: rgba(222, 222, 222, 0.8);
}

.course-section h2, .thesis h2 {
  text-align: center;
  padding: 2rem 0 0 0;
}

.course-container {
  padding: 1rem 3.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course {
  width: 29%;
  height: 18rem;
  margin: 1rem;
  background-color: rgb(255, 255, 255);
}

.course img {
  display: block;
  height: auto;
}

.course .text h3,
.course .text p  {
  padding-bottom: 0.5rem;
}
/** Thesis Section

Code inherited from class selectors used above. **/
.thesis h2 {
  padding-bottom: 1rem;
}

.thesis .text {
  padding-top: 1.5rem;
}
/** Footer **/
footer .flex {
  height: 4rem;
  padding: 1rem 1.5rem;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid rgba(166, 166, 166, 0.7);
}
